.onLoad {
	background: #E9FFEB url(validator/arrow/onLoad.gif) no-repeat 3px 3px;
	padding-left: 25px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
}
.correct-main {
	display: inline;
	width: 50px;
}
.onCorrect {
	display: inline-block;
	height: 22px;
	background: url(validator/arrow/reg-menu.gif) no-repeat 0px -22px;
	padding-left: 15px;
	margin-left: 10px;
	vertical-align: middle;
	padding-right: 5px;
	margin-top: 5px;
}
.onError .onFocus p {
	list-style-type: none;
	list-style-image: none;
	line-height: 2;
}
.onError .onFocus span {
	color: #000;
	font-size: 12px;
}
.onFocus {
	width: 247px;
	height: 20px;
	padding-top: 3px;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
}
.onFocus-top {
	display: block;
	width: 222px;
	padding: 5px 10px 3px 15px;
	min-height: 15px;
	_height: 10px;
	background: url(validator/arrow/verification-ui6.gif) no-repeat 0px 0;
}
.onFocus-bot {
	display: block;
	width: 247px;
	height: 3px;
	background: url(validator/arrow/verification-ui6.gif) no-repeat 0px -186px;
	overflow: hidden;
}
.onError {
	width: 247px;
	height: 20px;
	padding-top: 3px;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
}
.onError-top {
	display: block;
	width: 202px;
	padding: 5px 10px 3px 35px;
	min-height: 15px;
	_height: 10px;
	background: url(validator/arrow/verification-ui6.gif) no-repeat 0px -190px;
}
.onError-bot {
	display: block;
	width: 247px;
	height: 3px;
	background: url(validator/arrow/verification-ui6.gif) no-repeat 0px -376px;
	overflow: hidden;
}
.input-error {
	background-color: #FBE2E2;
	border-color: #D28C8C;
	color: #A63B3B
}
.input-focus {
	background-color: #FFC;
	border-color: #C6C69E
}
.input-correct {
	background-color: #FBFBFB;
	color: #444
}